<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>加载中...</title>
</head>
<body>
<iframe name="form" style="width: 100vw;height: 100vh;padding: 0;margin: 0;border: 0;"
        src='{$url}'></iframe>
<div style="position: fixed;left: 0;top: 10vh;height: 14vh;width:100vw;background: rgba(255,255,255,1);"></div>
<div style="position: fixed;left: 0;top: 35vh;height: 64vh;width:100vw;color:#00bbee;padding-top:25vh;background:  rgba(255,255,255,1);text-align: center;">
    <div style="font-weight: 800;font-size: larger">正在跳转,请等待</div>
    <div style="font-size: larger" id="msg"></div>
    <div style="color: orangered;">如提示打开支付宝app,请同意</div>
</div>
<script>
    let c = 10;
    let i = setInterval(() => {
        document.getElementById('msg').innerText = "排队中,约需要" + c-- + "秒"
        if (c == 0) clearInterval(i);
    }, 1300);
</script>
</body>
</html>