<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>正在发起,请等待...</title>
</head>
<body>
<form method="post" target="form" action="{$url}" id="form">
    {foreach $param as $k=>$v}
    <input id="{$k}" name="{$k}" value="{$v}" hidden>
    {/foreach}
</form>
<script>
    window.onload = function () {
        document.getElementById("form").target = "_self";
        document.getElementById('form').submit();
        return false;
    }
</script>
</body>
</html>