<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>加载中...</title>
</head>
<body>
<iframe style="width: 100vw;height: 100vh;padding: 0;margin: 0;border: 0;" src='/neifu/order1?id={$id}'></iframe>
<!--<div style="position: fixed;left: 0;top: 0;height: 20vh;width:100vw;background: blue;"><img src="/static/z.png"></div>-->
<!--<div style="position: fixed;left: 0;top: 35vh;height: 65vh;width:100vw;background: red;"><img src="/static/z.png"></div>-->
</body>
</html>